/TestFlushChecker.class
/TestFullHouseChecker.class
/TestHandEvaluation.class
/TestHandEvaluator.class
/TestKickerFiller.class
/TestPairChecker.class
/TestQuadsChecker.class
/TestStraightChecker.class
/TestStraightFlushChecker.class
/TestTripsChecker.class
/TestTwoPairChecker.class
