/FlushChecker.class
/FullHouseChecker.class
/GroupSizeChecker.class
/HandTypeChecker.class
/PairChecker.class
/QuadsChecker.class
/StraightChecker.class
/StraightFlushChecker.class
/TripsChecker.class
/TwoPairChecker.class
