/TestFlushChecker.class
/TestFullHouseChecker.class
/TestPairChecker.class
/TestQuadsChecker.class
/TestStraightChecker.class
/TestStraightFlushChecker.class
/TestTripsChecker.class
/TestTwoPairChecker.class
